{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Create Tickets Page</title>
</head>
<body>
	<h1>Create Tickets Page</h1>
	    
	    <a href="{% url 'hardware' %}">
	        <div class="col span_1_of_3 cat">
	            <!-- Hardware Ticket -->
	            <h2>Hardware Tickets:</h2>
	            <p>For if the problem is with a device (for example, a computer not 
	            turning on or a tablet's screen being unresponsive).</p>
	            <p class="add"><span>+</span></p>
            </div>
        </a>
        
        <a href="{% url 'software' %}">
            <div class="col span_1_of_3 cat">
	            <!-- Software Ticket -->
	            <h2>Software Tickets:</h2>
	            <p>For if the problem is with an application,
	               program, or system (for example, a program causing your computer to 
	               crash, or an app displaying improper data).</p>
	            <p class="add"><span>+</span></p>
	        </div>
	    </a>
	    
	    <a href="{% url 'service' %}">
	        <div class="col span_1_of_3 cat">
	            <!-- Service Ticket -->
	            <h2>Service Tickets:</h2>
	            <p>For if you want to request a certain service
	               such as moving equipment, gaining access to a new system, or obtaining
	               new equipment or software.</p>
	            <p class="add"><span>+</span></p>
	        </div>
	    </a>
	    
	    <a href="{% url 'password' %}">
	        <div class="col span_1_of_3 cat">
		        <!-- Password Ticket -->
	            <h2>Password Tickets:</h2>
	            <p>For if you need to reset your password for one
	            of the systems of the Edmonton Public Library.</p>
	            <p class="add"><span>+</span></p>
	        </div>
	    </a>
	    
	    <a href="{% url 'general' %}">
	        <div class="col span_1_of_3 cat">
	            <!-- General Ticket -->
	            <h2>General/Other Tickets:</h2>
	            <p>For if your problem doesn't seem to fall into
	               any of the other categories.</p>
	            <p class="add"><span>+</span></p>
	        </div>
	    </a>
	    
    <div class="clearfix"></div>
</body>
</html>

{% endblock %}
