
{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Other Tickets</title>
</head>
<body>
	<h1>Other Tickets</h1>
	<form role="form" action="" method="post">
    {% csrf_token %}
    <TABLE WIDTH="80">
    <TR><TD>
    <P>What can we help you with today?: <span class="required">*</span></P>
    {{form.problem}}
</TD></TR></TABLE>
    <BR>
    <!-- making button-->
    <button type="submit" id="submit" style="background-color: #E60E64; width:100px; padding: 7px 10px; font-size:20px; border-radius:0px;">
            <!--<i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
            Submit
        </button>
</html>

{% endblock %}
