
{% extends 'epl/index.html' %}

{% block content %}
{% load static %}
<html>
<head>
	<title>Hardware Tickets</title>
</head>
<body>
	<h1>Hardware Tickets</h1>
	<!--change upppercase tag name to lowercase-->
    <form role="form" action="" method="post">
        {% csrf_token %}
        <!--add hover effect for 'What is an Asset ID?'-->
        <p class="hover" >What is the device's asset ID number? (<a style="color:grey;" href="javascript:alert('An asset tag is ....');">What is an Asset ID?
            <span class="show-image">
                <img src="{% static 'demo/image.png' %}" alt="epl logo">
            </span>
        </a>) <span class="required">*</span>
        </p>
        {{form.asset_tag}}
        <p></p>
        <div>
            <p>What type of device is having the problem? <span class="required">*</span></p>
            {{form.equipment_type}}
            <div class="device">
                <p>What is the specific device's name?</p>
                {{form.device_name}}
            </div>
        </div>
        <p>Please describe the problem as best you can: <span class="required">*</span></p>
        {{form.problem_description}}
        <p>Please share any error messages that the device may be displaying:</p>
        {{form.error_messages}}
        <p>You may also provide an url of image of the problem if you so choose:</p>
        {{form.image_url}} 
        <br><br><br>
        <!-- making button-->
        <button type="submit" class="submit">Submit Ticket</button>
        <br><br><br>
    </form>

<!--device name action-->
<script>
    $(document).ready(function() {
        var devices = ["ipad", "laptop", "pc", "self-checkout"]
        $(".device").css('display', 'none');
        $('#id_equipment_type').change(function(){
            if ($.inArray($('#id_equipment_type').val().toLowerCase(), devices)!=-1) {
                $(".device").css('display', 'block');
            } else {
                $(".device").css('display', 'none');
            }
        });

    })
</script>

</body>

</html>

{% endblock %}
