{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
    {% if PageSubmitType == "insert" %}
	    <title>Hardware Ticket Page Submitted</title>
    {% else %}
	    <title>Hardware Ticket Page Updated</title>
    {% endif %}
</head>
<body>
    {% if PageSubmitType == "insert" %}
    <h1>Hardware Ticket Successfully Submitted</h1>
    {% else %}
    <h1>Hardware Ticket Successfully Updated</h1>
    {% endif %}
    
    <div class="right">
        <p>
        <a class="button" href="{% url 'detail' id=CallID %}"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View This Ticket</a>
        <a class="button" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <a class="button" href="{% url 'manage' %}"><i class="fa fa-eye" aria-hidden="true"></i> Manage/View All Tickets</a>
        </p>
    </div>
    
    <p><span style="font-weight:bold;">Below are the details of your recent ticket</span></p>
    
    <P><span style="font-weight:bold;">Ticket ID:</span> {{ CallID }}</P> 
    
    <P><span style="font-weight:bold;">Posted on</span> {{ RecvdDate }}</P> 
    <P><span style="font-weight:bold;">Category:</span> {{ Category }}</P> 
    <P> <span style="font-weight:bold;">Status:</span> {{ CallStatus }}</P>
     
	<P><span style="font-weight:bold;">Posted by</span> {{ CustID }}</P>

    {% if Category == "Hardware" %}
        <p> <span style="font-weight:bold;">Type of equipment: </span> 
        <br>{{ equipment_type }} </p>
        <p> <span style="font-weight:bold;">Asset tag: </span> 
        <br>{{ asset_tag }} </p>
        <p> <span style="font-weight:bold;">Name of device: </span> 
        <br>{{ device_name }} </p>
        <p> <span style="font-weight:bold;">Error message displayed: </span> 
        <br>{{ error_messages }} </p>
        <P> <span style="font-weight:bold;">Description: </span> 
        <br>{{ problem_description }} </p>
    {% endif %}
    <br><br><br>
    
</body>
</html>

{% endblock %}
