
{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Hardware Tickets</title>
</head>
<body>
	<h1>Hardware Tickets</h1>
	<form role="form" action="" method="post">
    {% csrf_token %}
    <P>Asset Tag (<a href="javascript:alert('An asset tag is ....');">What is an Asset ID?</a>) <span class="required">*</span></P>
    {{form.asset_tag}}
    <P></P> 
    <DIV>
        <TABLE WIDTH="100%">
            <TR>
                <TD WIDTH="30%"><P>Equipment Type: <span class="required">*</span></P></TD>
                <TD class="device" style="text-align: center;"><P>Computer/Device Name</P></TD>
            </TR>
            <TR>
                <TD>{{form.equipment_type}}</TD>
                <TD class="device" style="text-align: center;">{{form.device_name}}</TD>
            </TR>
        </TABLE>
    <DIV>
    <P>Problem Description: <span class="required">*</span></P>
    {{form.problem_description}}
    <P>Share Any Error Messages</P>
    {{form.error_messages}}
    <P></P>
    {{form.file_upload}}
    <P></P>
    <button type="submit" id="submit"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Submit</button>
</form>	
</body>
</html>

{% endblock %}
