<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/demo/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/demo/grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/demo/normalize.css' %}">
	<link rel="icon" href="{% static '/demo/favicon.png' %}" sizes="16x16 32x32" type="image/png">	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static '/demo/main.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!-- alter header display based on screen size (for mobile views) -->
<style>    
    @media screen and (max-width: 800px) {
        #main-nav {display:none;}
        #logout {display:none}
        #logo{ height:95%; width: auto; }
        #head .span_1_of_3{
            width: 100% !important;
        }
    }
    @media screen and (min-width: 800px) {
        #nav, #naver {display:none !important;}
    }
    #nav{
        float: right;
        margin-top: 35px;
        transition: color 0.4s;
    }
    #nav:hover{
        color: #E60E64;
    }
    #naver{
        display: none;
        margin-top: 55px;
        padding-left: 0;
    }
    #naver li{
        display: block;
        border-bottom: 1px solid #ccc;
    }
    #naver li:hover{
        background-color: #E60E64;
        color: white;
    }height: 100%;
    }
</style>
<script>
    $(function() {
        $("#nav").click(function(){
            $("#naver").slideToggle(250);
            $("#nav i").toggleClass("fa-bars fa-times-circle");
        });
    });
</script>
</head>
<body>
    {% load descGet %}
	<header style="position: relative">
	    <div class="row" id="head">
	        <div class="col span_1_of_3">
		        <a href="{% url 'index' %}"><img id="logo" src="{% static 'demo/epl-logo.png' %}" alt="epl logo"></a>
		        <div id="nav" style="cursor: pointer;">
	                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
	            </div>
	        </div>
		    {% if user.is_authenticated %}
		        <div class="col span_1_of_3">
		            <nav>
                        <ul id="main-nav" class="menu">
                            <li id="home"><a href="{% url 'index' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                            <li style="font-size: 30px;">|</li>
                            <a href="{% url 'add'%}">
                                <li id="add" class="create">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&ensp;Create Tickets</i>
                                </li>
                            </a>
                            <li style="font-size: 30px;">|</li>

                            <!-- Here is the dropdown menu of manage/view Tickets-->
                            <li id="manage" class="view">
                                <a style="cursor: default;"><i class="fa fa-eye" aria-hidden="true"></i>&ensp;Manage/View Tickets&ensp;<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                <ul style="width:222px">
                                    <a href="{% url 'tickets' %}"><li>Manage My Tickets</li></a>
                                    <a href="{% url 'manage' %}"><li>Manage Branch Tickets</li></a>
                                </ul>
                            </li>
                        </ul>
                    </nav>
		        </div>
		        <a class="cursor" id="logout">
		            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout, {{ user.get_username|firstUpper }}
	            </a>
	        {% endif %}
	</header>
	<div class="row">
	    <ul id="naver">
	        <a href="{% url 'index' %}">
	            <li style="border-top: 1px solid #ccc;">
	                <i class="fa fa-home" aria-hidden="true"></i>&emsp;Home
                </li>
            </a>
	        <a href="{% url 'add'%}">
	            <li><i class="fa fa-plus" aria-hidden="true"></i>&emsp;Create Tickets</li>
            </a>
	        <a href="{% url 'tickets' %}">
	            <li><i class="fa fa-eye" aria-hidden="true"></i>&emsp;Manage My Tickets</li>
            </a>
            <a href="{% url 'manage' %}">
                <li><i class="fa fa-eye" aria-hidden="true"></i>&emsp;Manage Branch Tickets</li>
            </a>
	        <a id="lit-log" class="cursor">
	            <li><i class="fa fa-sign-out" aria-hidden="true"></i>&emsp;Logout, {{ user.get_username|firstUpper }}</li>
            </a>
	    </ul>
	    {% block content %}
	        <h2 style="margin-top:50px;">Tutorial Video:</h2>
	        <title>Home</title>
	        <div style="text-align:center;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dBvqOvZaUIU" frameborder="0" allowfullscreen></iframe>
	        </div>
	        <h2>Documentation of the application:</h2>
                <div style="margin-left:75px">
	                <div>
	                    <p style="margin-left:-25px"><b>CREATING A TICKET</b></p>
	                    <p>1. Click the "Create Tickets" button at the top of the screen.</p>
	                    <p>2. Select which of the ticket types you wish to submit.</p>
	                    <p>3. Enter the requested information on the ticket creation page.</p>
	                    <p>4. Click the submit button at the bottom of the screen to create the ticket.</p>
	                </div>
	                <div>
	                    <p style="margin-left:-25px"><b>VIEWING A TICKET</b></p>
	                    <p>1. Hover over the "Manage/View Tickets" menu at the top of the screen.</p>
	                    <p>2. Click "Manage My Tickets" to see a list of your own tickets, or "Manage Branch Tickets" for a list of all tickets within your branch.</p>
	                    <p>3. Find the ticket that you wish to view. You may sort the list of tickets by ID, Author, Date, Category, or Status.</p>
	                    <p>4. Click the "View" button in the ticket's options to view detailed information about the ticket.</p>
	                </div>
	                <div>
	                    <p style="margin-left:-25px"><b>EDITING A TICKET</b></p>
	                    <p>1. Hover over the "Manage/View Tickets" menu at the top of the screen and click the "Manage My Tickets" button.</p>
	                    <p style="margin-left: 25px; font-size:12px">*You may also use "Manage Branch Tickets" if you are a manager. 
	                    <p>2. Find the ticket that you wish to edit. You may sort the list of tickets by ID, Author, Date, Category, or Status.</p>
	                    <p>3. Click the "Edit" button in the ticket's options.</p>
	                    <p>4. Edit the entered information as desired.</p>
	                    <p>5. Click the "Submit" button to submit the edited information.</p>
	                </div>
	                <div>
	                    <p style="margin-left:-25px"><b>RESOLVING/REOPENING A TICKET</b></p>
	                    <p>1. Hover over the "Manage/View Tickets" menu at the top of the screen and click the "Manage My Tickets" button.</p>
	                    <p style="margin-left: 25px; font-size:12px">*You may also use "Manage Branch Tickets" if you are a manager. 
	                    <p>2. Find the ticket that you wish to mark as resolved or reopen. You may sort the list of tickets by ID, Author, Date, Category, or Status.</p>
	                    <p>3a. If marking the ticket as resolved, click the "Resolved" button in the ticket's options.</p>
	                    <p>3b. If reopening the ticket, click the "Re-open" button in the ticket's options.</p>
	                    <p>4. Click the "Yes" button in the pop-up window.</p>
	                </div>
	            </div>
	            <BR><BR>

        {% endblock %}
    </div>
	<!-- logout modal window-->
	<div id="logoutModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalText">Are you sure you want to log out?</p>
          <a class="button modalButton nButton cursor" style="float:right">No</a>
          <a class="button modalButton" style="visibility:hidden;"></a>
          <a id="yButton" class="button modalButton" href="/logout" style="float:right; margin-right:20px;">Yes</a>
      </div>
    </div>
     <!--footer-->
    <footer>
        <div style="margin: 0px 20px;">
            <a href="https://www.facebook.com/EPLdotCA" target="_blank"><span><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></span></a>
            <a href="https://twitter.com/EPLdotCA" target="_blank"><span><i class="icon-google-plus icon-2x" aria-hidden="true"></i></span></a>
            <a href="https://www.youtube.com/user/edmontonpl" target="_blank"><span><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></span></a>
            <div style="float:right; margin: 20px 10px"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Edmonton Public Library</div>
        </div>
    </footer>
</body>
</html>
