<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/demo/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/demo/grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/demo/normalize.css' %}">
	<link rel="icon" href="{% static '/demo/favicon.png' %}" sizes="16x16 32x32" type="image/png">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static '/demo/main.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

</head>
<body>
	<header style="position: relative">
	    <div class="row">
	        <div class="col span_1_of_3">
		        <a href="{% url 'index' %}"><img src="{% static 'demo/epl-logo.png' %}" alt="epl logo"></a>
	        </div>
		    {% if user.is_authenticated %}
		        <div class="col span_1_of_3">
		            <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul id="main-nav" class="menu">
                            <li id="home"><a href="{% url 'index' %}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                            <li style="font-size: 30px;">|</li>
                            <li id="add" class="create">
                                <a href="{% url 'add'%}"><i class="fa fa-plus" aria-hidden="true"></i> Create Tickets <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            </li>
                            <li style="font-size: 30px;">|</li>

                            <!-- Here is the dropdown menu of manage/view Tickets-->
                            <li id="manage" class="view">
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> Manage/View Tickets <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                <ul style="width:210px">
                                    <li><a href="{% url 'tickets' %}">Manage My Tickets</a></li>
                                    <li><a href="{% url 'manage' %}">Manage Branch Tickets</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

		        </div>
		        <a href="/logout" id="logout">
		            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout, {{ user.get_username }}
	            </a>
	        {% endif %}
	</header>
	<div class="row">
	    {% block content %}
	        <h1>Documentation/Tutorial:</h1>
	        <title>Home</title>
        {% endblock %}
    </div>
</body>
</html>
