{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Manage Tickets Page</title>
	{% load static %}
	<script src="{% static '/demo/sorttable.js' %}"></script>
</head>
	<h1>Manage Tickets Page</h1>
<body>
	<table class="sortable">
	    <tr>
	        <th>ID</th>
	        <th>Author</th>
	        <th>Date</th>
	        <th>Category</th>
	        <th>Status</th>
	        <th>Priority</th>
	        <th>Options</th>
	    </tr>
	    {% for callLog in callLogs %}
	    <tr>
	        <td> {{ callLog.CallID }} </td>
	        <td> {{ callLog.CustID }} </td>
	        <td> 20{{ callLog.RecvdDate }} </td>
	        <td> {{ callLog.Category }} </td>
	        <td> {{ callLog.CallStatus }} </td>
	        <td> {{ callLog.Priority }} </td>
	        <td>
	            <a class="button" href="{% url 'detail' id=callLog.CallID %}">View</a>
                <a class="button" href="edit.asp">Edit</a>
                <a class="button" href="resolved.asp">Resolved</a>
            </td>
	    {% endfor %}
</body>
</html>

{% endblock %}
