{% extends 'epl/index.html' %}

{% block content %}

{% load editTicketURL %}

<html>
<head>
	<title>{{ username }}'s Tickets</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/demo/scroll-top.css' %}">
	<script src="{% static '/demo/sorttable.js' %}"></script>
    <script src="{% static '/demo/scroll-top.js' %}"></script>
</head>
<body>
    {% load descGet %}
    <h1>{{ username|firstUpper }}'s Tickets<span id="result">&ensp; 
    {% if count == 0 %}
        (No tickets are found)
    {% elif count == 1 %}
        (Only {{count}} ticket is found)
    {% else %}
        (We have found {{count}} tickets)
    {% endif %}
    </span></h1>
    <a id="scroll-top" title="Go Back to top">&uarr;</a>
    <div style="overflow-x:auto;margin-bottom: 50px;">
	    <table class="sortable" id="ticket-table">
	        <tr>
	            <th>ID</th>
	            <th>Author</th>
	            <th>Date</th>
	            <th>Category</th>
	            <th>Status</th>
	            <th class= "sorttable_nosort">Description</th>
	            <th class= "sorttable_nosort">Options</th>
	        </tr>
	        
	        {% for callLog in callLogs %}
	            {% if callLog.Category in available %}
                   {% editURL callLog.Category callLog.CallID as editTicketURL %}
                    <tr>
                        <td> {{ callLog.CallID }} </td>
                        <td> {{ callLog.CustID }} </td>
                        <td> {{ callLog.RecvdDate|get_date }} </td>
                        <td> {{ callLog.Category }} </td>
                        <td id="status_{{ callLog.CallID }}"> {{ callLog.CallStatus }} </td>
                        <td style="text-align:left;"> {% descGet callLog.CallID %} </td>
                        <td>
                            <a href="{% url 'detail' id=callLog.CallID %}" style="display:inline-block;">
                                <div class="button"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View</div>
                            </a>
                          
                            <!-- If user is manager, replace edit and resolve/reopen buttons with approve and disapprove buttons for non-approved tickets -->
                            {% if callLog.CallStatus == "Needs Approval" or callLog.CallStatus == "Disapproved" %}
                                {% if status == "manager" %}
                                    <a id="appBtn_{{ callLog.CallID }}" class="cursor button" style="display:inline-block;"> <div>
                                            <i class="fa fa-check" aria-hidden="true"></i> Approve
                                        </div></a>
                                    <a id="disBtn_{{ callLog.CallID }}" class="cursor button" style="display:inline-block;"> <div>
                                        <i class="fa fa-times" aria-hidden="true"></i> Dispprove
                                        </div></a>
                                {% elif callLog.CallStatus == "Needs Approval" %}
                                    <a href="{{editTicketURL}}" style="display:inline-block;">
                                        <div class="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div>
                                    </a>
                                    <a  style="display:inline-block;" id="myBtn_{{ callLog.CallID }}" class="cursor button" ><div>
                                            <i class="fa fa-check" aria-hidden="true"></i> Resolved </div></a>
                                {% else %}
                                    <a href="{{editTicketURL}}" class="button disabled" style="display:inline-block; background-color: grey" >
                                            <div ><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div>
                                        </a>
                                    <a style="display:inline-block;"> <div class="button disabled" style="background-color:grey;" >
                                                <i class="fa fa-check" aria-hidden="true"></i> Open
                                        </div></a>
                                {% endif %}
                          
                            <!-- allow editing and resolve/reopening of approved tickets -->
                            {% else %}
                                <a href="{{editTicketURL}}" style="display:inline-block;">
                                    <div class="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div>
                                </a>
                                <a  style="display:inline-block;" id="myBtn_{{ callLog.CallID }}" class="cursor button" ><div>
                                    {% if callLog.CallStatus == "Open" %}
                                        <i class="fa fa-check" aria-hidden="true"></i> Resolved </div></a>
                                    {% else %}
                                        <i class="fa fa-check" aria-hidden="true"></i> Re-open </div></a>
                                    {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
	        {% endfor %}
        </table>
    </div>
    <div align="center">
        <button id="loadMore">Load More Tickets</input>
    </div>
    <BR><BR>

      <div id="myModal" class="modal">
      <!-- Resolve/reopen popup window -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalText">Are you sure the ticket has been resolved?</p>
          <a class="button modalButton nButton cursor" style="float:right">No</a>
          <a class="button modalButton" style="visibility:hidden;"></a>
          <a id="yButton" class="button modalButton cursor" style="float:right; margin-right:20px;">Yes</a>
      </div>
    </div>
    <div id="appModal" class="modal">
      <!-- Manager's approve ticket popup window -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p id="appModalText">Are you sure you wish to approve the ticket?</p>
          <a class="button modalButton nButton cursor" style="float:right">No</a>
          <a class="button modalButton" style="visibility:hidden;"></a>
          <a id="appYButton" class="button modalButton cursor" style="float:right; margin-right:20px;">Yes</a>
      </div>
    </div>
    <div id="disModal" class="modal">
      <!-- Manager's disapprove ticket popup window -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p id="disModalText">Are you sure you wish to disapprove the ticket?</p>
          <a class="button modalButton nButton cursor" style="float:right">No</a>
          <a class="button modalButton" style="visibility:hidden;"></a>
          <a id="disYButton" class="button modalButton cursor" style="float:right; margin-right:20px;">Yes</a>
      </div>
    </div>
<script>
var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];
var yBtn = document.getElementById("yButton");
var nBtn = document.getElementById("nButton");
var appYBtn = document.getElementById("appYButton");
var disYBtn = document.getElementById("disYButton");

$(document).ready(function(){
    // resolve/reopen button popup functionality
    $( "a[id*='myBtn']" ).click(function(){
        id = $(this).attr('id').replace("myBtn_", "")
        $("#myModal").css("display", "block")
        if ($("#status_"+id).text().indexOf("Open")>=0 || $("#status_"+id).text().indexOf("Needs Approval")>=0){
            $("#modalText").html("Are you sure the ticket has been resolved?");
        } else {
                $("#modalText").html("Are you sure that you want to re-open the ticket?");
        }
        yBtn.onclick = function() {
           modal.style.display = "none";
           if ($("#status_"+id).text().indexOf("Open")>=0){
            alterData(id, "Resolved")
            $("#myBtn_"+id).html('<i class="fa fa-check" aria-hidden="true"></i>Re-open');
           } else {
            alterData(id, "Open")
            $("#myBtn_"+id).html('<i class="fa fa-check" aria-hidden="true"></i>Resolved');
           }
        }
    });
    //approve ticket popup functionality
    $( "a[id*='appBtn']" ).click(function(){
        id = $(this).attr('id').replace("appBtn_", "")
        $("#appModal").css("display", "block");
        $("#appModalText").html("Are you sure you wish to approve the ticket?");
        appYBtn.onclick = function() {
            modal.style.display = "none";
            alterData(id, "Open")
            $('.stat').attr('src', '/static/demo/view-ticket/open-bar.jpg')
            window.location.reload()
        }
    });
    //disapprove ticket popup functionality
    $( "a[id*='disBtn']" ).click(function(){
        id = $(this).attr('id').replace("disBtn_", "")
        $("#disModal").css("display", "block");
        $("#disModalText").html("Are you sure you wish to disapprove the ticket?");
        disYButton.onclick function() {
            modal.style.display = "none";
            alterData(id, "Disapproved")
        }
    });
})

nBtn.onclick = function() {
    modal.style.display = "none";
}

span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    };
};

function alterData(id, status){
    $.ajax({
        url : "../alter-status/", // the endpoint
        type : "POST", // http method
        data : { status : status, id: id }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#status_'+id).html(status); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a class='cursor' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}
</script>
</body>
</html>

{% endblock %}
