{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>{{ username }}'s Tickets</title>
	{% load static %}

    <link rel="stylesheet" type="text/css" href="/static/demo/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/demo/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/demo/grid.css" />
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script src="{% static '/demo/sorttable.js' %}"></script>
    <script>
         $(document).ready(function () {
             size_tr = $("#ticket-table tr").size();
             x=11;
             if (size_tr <= 11) {
                $('#loadMore').hide();
             }
             else {
                $('#loadMore').show();
             }
             $('#ticket-table tr').hide();
             $('#ticket-table tr:lt('+x+')').show();
             $('#loadMore').click(function () {
                x= (x+10 <= size_tr) ? x+10 : size_tr;
                $('#ticket-table tr:lt('+x+')').show();
                if (x >= size_tr) {
                   $('#loadMore').hide();
                }
             });
         });
    </script>
</head>
<body>
    <h1>{{ username }}'s Tickets</h1>
	<table class="sortable" id="ticket-table">
	    <tr>
	        <th>ID</th>
	        <th>Author</th>
	        <th>Date</th>
	        <th>Category</th>
	        <th>Status</th>
	        <th class= "sorttable_nosort">Description</th>
	        <th class= "sorttable_nosort">Options</th>
	    </tr>
	    {% load descGet %}
	    {% for callLog in callLogs %}
	        {% if callLog.Category in available %}
                <tr>
                    <td> {{ callLog.CallID }} </td>
                    <td> {{ callLog.CustID }} </td>
                    <td> 20{{ callLog.RecvdDate }} </td>
                    <td> {{ callLog.Category }} </td>
                    <td id="status_{{ callLog.CallID }}"> {{ callLog.CallStatus }} </td>
                    <td style="text-align:left;"> {% descGet callLog.CallID %} </span></td>
                    
                    <td>
                        <a href="{% url 'detail' id=callLog.CallID %}" style="display:inline-block;">
                            <div class="button"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View</div>
                        </a>
                        {% if callLog.Category == "Other" %}
                        <a href="/general?ticketID={{callLog.CallID}}" style="display:inline-block;">
                            <div class="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div>
                        </a>
                        {% else %}
                        <a href="edit.asp" style="display:inline-block;">
                            <div class="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</div>
                        </a>
                        {% endif %}

                        <a  style="display:inline-block;" id="myBtn_{{ callLog.CallID }}" class="cursor button" ><div>
                            {% if callLog.CallStatus == "Open" %}
                                <i class="fa fa-check" aria-hidden="true"></i> Resolved </div></a>
                            {% else %}
                                <i class="fa fa-check" aria-hidden="true"></i> Re-open </div></a>
                            {% endif %}
                    </td>
                </tr>
            {% endif %}
	    {% endfor %}
    </table>
    <div align="center">
        <button class="submit" id="loadMore">Load More Tickets</input>
    </div>
    <BR><BR>

      <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalText">Are you sure the ticket has been resolved?</p>
          <a id="nButton" class="button modalButton cursor" style="float:right">No</a>
          <a class="button modalButton" style="visibility:hidden;"></a>
          <a id="yButton" class="button modalButton cursor" style="float:right; margin-right:20px;">Yes</a>
      </div>
    </div>
<script>
var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];
var yBtn = document.getElementById("yButton");
var nBtn = document.getElementById("nButton");

$(document).ready(function(){
    $( "a[id*='myBtn']" ).click(function(){
        id = $(this).attr('id').replace("myBtn_", "")
        $("#myModal").css("display", "block")
        if ($("#status_"+id).text().indexOf("Open")>=0){
            $("#modalText").html("Are you sure the ticket has been resolved?");
        } else {
                $("#modalText").html("Are you sure that you want to re-open the ticket?");
        }
        yBtn.onclick = function() {
           modal.style.display = "none";
           if ($("#status_"+id).text().indexOf("Open")>=0){
            alterData(id, "Resolved")
            //$("#status_"+id).html("Resolved");
            $("#myBtn_"+id).html('<i class="fa fa-check" aria-hidden="true"></i>Re-open');
           }
           else {
            alterData(id, "Open")
            $("#myBtn_"+id).html('<i class="fa fa-check" aria-hidden="true"></i>Resolved');
           }
        }
    });

})

nBtn.onclick = function() {
    modal.style.display = "none";
}

span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    };
};

function alterData(id, status){
    $.ajax({
        url : "../alter-status/", // the endpoint
        type : "POST", // http method
        data : { status : status, id: id }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#status_'+id).html(status); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a class='cursor' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}
</script>
</body>
</html>

{% endblock %}
