
{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Password Recovery Tickets</title>
</head>
<body>
	<h1>Password Recovery Tickets</h1>
	
	<form role="form" action="" method="post">
        {% csrf_token %}
        <p>Which system? <span class="required">*</span></p>
        {{ form.system_type }}
        <p>Which account/username? <span class="required">*</span></p>
        {{ form.sys_user }}
        <br><br><br>
        <!-- making button-->
        <button type="submit" class="submit">Submit Ticket</button>
        <br><br><br>
    </form>
	
</body>
</html>

{% endblock %}
