
{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Password Recovery Tickets</title>
</head>
<body>
	<h1>Password Recovery Tickets</h1>
	
	<form role="form" action="" method="post">
        {% csrf_token %}
        <p>Which system? <span class="required">*</span></p>
        {{ form.system_type }}
        <p>Which account/username? <span class="required">*</span></p>
        {{ form.sys_user }}
        <br />
        <!-- making button-->
        <button type="submit" id="submit" style="background-color: #E60E64; width:100px; padding: 7px 10px; font-size:20px; border-radius:0px;">
            <!--<i class="fa fa-play-circle-o" aria-hidden="true"></i> -->
            Submit
        </button>
    </form>
	
</body>
</html>

{% endblock %}
