
{% extends 'epl/index.html' %}

{% block content %}
{% load static %}
<script src="{% static '/demo/service-tickets.js' %}"></script>
<html>
<head>
	<title>Service Tickets</title>
</head>
<body>
	<h1>Service Tickets</h1>
	<form role="form" action="" method="post">
        {% csrf_token %}
        <P>Request type: <span class="required">*</span></P>
        {{form.request_type}}
        <P id="id_system_label">Which system? <span class="required">*</span></P>
        {{form.system}}
        <!--add hover effect for 'What is an Asset ID?'-->
        <P class="hover" id="id_asset_tag_label">Please provide the asset tag(s) of the equipment you want moved or surplused: (<a style="color:grey;" href="javascript:alert('Please enable JavaScript if no image appear');">What is an Asset ID?
          <span class="show-image">
              <img src="{% static 'demo/image.png' %}" alt="epl logo">
          </span>
        </a>)      <span class="required">*</span></P>
        {{form.asset_tag}}
        <P id="id_move_location_label">Where would you like the equipment moved to?: <span class="required">*</span></P>
        {{form.move_location}}
        <P id="id_software_label">What software are you looking for? <span class="required">*</span></P>
        {{form.software}}
        <P id="id_pc_label">Which PC do you want this software installed on? <span class="required">*</span></P>
        {{form.pc}}
        <P id="id_description_label">Description of the problem:</P>
        {{form.description}}
        <br><br><br>
        <!-- making button-->
        <button type="submit" class="submit">
        {% if is_update == "update" %}
            Update Ticket
        {% else %}
            Submit Ticket
        {% endif %}
        </button>
        <br><br><br>
    </form>
</body>
</html>

{% endblock %}
