{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Service Ticket Submitted</title>
</head>
<body>
	<h1>Service Ticket Successfully Submitted</h1>
	
	<div class="right">
        <p>
        <a class="button" href="{% url 'detail' id=CallID %}"><i class="fa fa-folder-open-o" aria-hidden="true"></i> View This Ticket</a>
        <a class="button" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <a class="button" href="{% url 'manage' %}"><i class="fa fa-eye" aria-hidden="true"></i> Manage/View All Tickets</a>
        </p>
    </div>
    
    <p><span style="font-weight:bold;">Below are the details of your recent ticket</span></p>

    <P><span style="font-weight:bold;">Ticket ID:</span> {{ CallID }}</P> 
    
    <P><span style="font-weight:bold;">Posted on</span> {{ RecvdDate }} </P>
    <P><span style="font-weight:bold;">Category:</span> {{ Category }} </P>
    <P><span style="font-weight:bold;">Status:</span> {{ CallStatus }}</P>
     
	<P><span style="font-weight:bold;">Posted by</span> {{ CustID }}</P>

    {% if Category == "Service" %}
        <p> <span style="font-weight:bold;">Request Type: </span> 
        {{ request_type }} </p>
        {% if request_type == "Move equipment request" %}
        <p> <span style="font-weight:bold;">System you would like access to: </span>
        {{ System_type }} </p>     
        <p> <span style="font-weight:bold;">Asset tag of the equipment you want moved or surplused: </span>
        {{ asset_tag }} </p>     
        <p> <span style="font-weight:bold;">Move location: </span>
        {{ move_location }} </p>    
        {% elif request_type == "Surplus equipment request" %}
        <p> <span style="font-weight:bold;">System you would like access to: </span>
        {{ System_type }} </p>     
        <p> <span style="font-weight:bold;">Asset tag of the equipment you want moved or surplused: </span>
        {{ asset_tag }} </p>     
        {% elif request_type == "New software request" %}
        <p> <span style="font-weight:bold;">Software you are looking for: </span>
        {{ software }} </p>     
        <p> <span style="font-weight:bold;">PC you want this software installed on: </span>
        {{ pc }} </p>     
        {% else %}
        <p> <span style="font-weight:bold;">Description: </span>
        <br>{{ description }} </p>     
        {% endif %}
    {% endif %}
    
</body>
</html>

{% endblock %}
