
{% extends 'epl/index.html' %}

{% block content %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    // altering what data is displayed based on the type of service requested
   $(document).ready(function() {
      $('#id_system_label').hide();
      $('#id_system').hide();
      $('#id_asset_tag_label').hide();
      $('#id_asset_tag').hide();
      $('#id_move_location_label').hide();
      $('#id_move_location').hide();
      $('#id_software_label').hide();
      $('#id_software').hide();
      $('#id_pc_label').hide();
      $('#id_pc').hide();
      $('#id_description_label').hide();
      $('#id_description').hide();
      <!-- fix required fields bug-->
      $('#id_request_type').on('change', function () {
          if ($(this).val() === 'Move equipment request') {
              $('#id_system_label').show();
              $('#id_system').show();
              $('#id_asset_tag_label').show();
              $('#id_asset_tag').show();
              $('#id_asset_tag').attr('required', true);
              $('#id_move_location_label').show();
              $('#id_move_location').show().attr('required', true);
              $('#id_software_label').hide();
              $('#id_software').hide();
              $('#id_pc_label').hide();
              $('#id_pc').hide();
              $('#id_description_label').hide();
              $('#id_description').hide();
          }
          else if ($(this).val() === 'Surplus equipment request') {
              $('#id_system_label').show();
              $('#id_system').show();
              $('#id_asset_tag_label').show();
              $('#id_asset_tag').show().attr('required', true);
              $('#id_move_location_label').hide();
              $('#id_move_location').hide();
              $('#id_software_label').hide();
              $('#id_software').hide();
              $('#id_pc_label').hide();
              $('#id_pc').hide();
              $('#id_description_label').hide();
              $('#id_description').hide();
          } 
          else if ($(this).val() === 'New software request') {
              $('#id_system_label').hide();
              $('#id_system').hide();
              $('#id_asset_tag_label').hide();
              $('#id_asset_tag').hide();
              $('#id_move_location_label').hide();
              $('#id_move_location').hide();
              $('#id_software_label').show().attr('required', true);;
              $('#id_software').show().attr('required', true);;
              $('#id_pc_label').show().attr('required', true);;
              $('#id_pc').show().attr('required', true);;
              $('#id_description_label').hide();
              $('#id_description').hide();
          } 
          else if ($(this).val() === 'New equipment request') {
              $('#id_system_label').hide();
              $('#id_system').hide();
              $('#id_asset_tag_label').hide();
              $('#id_asset_tag').hide();
              $('#id_move_location_label').hide();
              $('#id_move_location').hide();
              $('#id_software_label').hide();
              $('#id_software').hide();
              $('#id_pc_label').hide();
              $('#id_pc').hide();
              $('#id_description_label').show();
              $('#id_description').show();
          } 
          else {
              $('#id_system_label').hide();
              $('#id_system').hide();
              $('#id_asset_tag_label').hide();
              $('#id_asset_tag').hide();
              $('#id_move_location_label').hide();
              $('#id_move_location').hide();
              $('#id_software_label').hide();
              $('#id_software').hide();
              $('#id_pc_label').hide();
              $('#id_pc').hide();
              $('#id_description_label').show();
              $('#id_description').show();
          }
      });
   });
</script>
<html>
<head>
	<title>Service Tickets</title>
</head>
<body>
	<h1>Service Tickets</h1>
	<form role="form" action="" method="post">
        {% csrf_token %}
        <P>Request type: <span class="required">*</span></P>
        {{form.request_type}}
        <P id="id_system_label">Which system? <span class="required">*</span></P>
        {{form.system}}
        <!--add hover effect for 'What is an Asset ID?'-->
        <P class="hover" id="id_asset_tag_label">Please provide the asset tag(s) of the equipment you want moved or surplused: (<a style="color:grey;"            href="javascript:alert('An asset tag is ....');">What is an Asset ID?
          <span class="show-image">
              <img src="{% static 'demo/image.png' %}" alt="epl logo">
          </span>
        </a>)      <span class="required">*</span></P>
        {{form.asset_tag}}
        <P id="id_move_location_label">Where would you like the equipment moved to?: <span class="required">*</span></P>
        {{form.move_location}}
        <P id="id_software_label">What software are you looking for? <span class="required">*</span></P>
        {{form.software}}
        <P id="id_pc_label">Which PC do you want this software installed on? <span class="required">*</span></P>
        {{form.pc}}
        <P id="id_description_label">Description of the problem:</P>
        {{form.description}}
        <br><br><br>
        <!-- making button-->
        <button type="submit" class="submit">Submit Ticket</button>
        <br><br><br>
    </form>
</body>
</html>

{% endblock %}
