{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Software Tickets</title>
</head>
<body>
	<h1>Software Tickets</h1>
	<form role="form" action="" method="post">
    {% csrf_token %}
        <p>Which system? <span class="required">*</span></p>
        {{form.system}}
        <p>Is the system completely offline/broken? <span class="required">*</span></p>
        {{form.system_offline}}
        <p>Please describe the problem as best you can: <span class="required">*</span></p>
        {{form.problem_description}}
        <p>Please share any steps you can to allow us to replicate the problem:</p>
        {{form.steps_replicate_problem}}
        <p>You may also provide a link to an image of the problem if you so choose:</p>
        {{form.image_url}}
        <br><br><br>
        <!-- making button-->
        <button type="submit" class="submit">
        {% if is_update == "update" %}
            Update Ticket
        {% else %}
            Submit Ticket
        {% endif %}
        </button>
        <br><br><br>
    </form>
</body>
</html>

{% endblock %}
