{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Software Ticket Submitted</title>
</head>
<body>
	<h1>Software Ticket Successfully Submitted</h1>

    <P><span style="font-weight:bold;">Ticket ID:</span> {{ CallID }}</P> 
    
    <P><span style="font-weight:bold;">Posted on</span> {{ RecvdDate }} </P>
    <P><span style="font-weight:bold;">Category:</span> {{ Category }} </P>
    <P><span style="font-weight:bold;">Status:</span> {{ CallStatus }}</P>
     
	<P><span style="font-weight:bold;">Posted by</span> {{ CustID }}</P>

    {% if Category == "Software" %}
        <p> <span style="font-weight:bold;">Which system?: </span> 
        <br>{{ System }} </p>
        <p> <span style="font-weight:bold;">Is the system completely offline/broken?: </span>
        <br>{{ Offline }} </p>     
    {% endif %}
    
    <P> <span style="font-weight:bold;">Further details: </span> 
    <br>{{ Description }} </p>

    <p><a class="button" href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Home</a>
         <a class="button" href="/manage-tickets/">Manage/View Tickets <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a></p>

</body>
</html>

{% endblock %}
