
{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>Software Tickets</title>
</head>
<body>
	<h1>Software Tickets</h1>
	<form role="form" action="" method="post">
    {% csrf_token %}
    <P>Which system? <span class="required">*</span></P>
    {{form.system}}
    <P>Is the system completely offline/broken? <span class="required">*</span></P>
    {{form.system_offline}}
    <P>Please describe the problem as best you can: <span class="required">*</span></P>
    {{form.problem_description}}
    <P>Please share any steps you can to allow us to replicate the problem:</P>
    {{form.steps_replicate_problem}}
    </P>You may also provide an image of the problem if you so choose:
    <br>{{form.file_upload}}
    </P>
    <button type="submit" id="submit"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Submit</button>
    </form>
</body>
</html>

{% endblock %}
