{% extends 'epl/index.html' %}

{% block content %}

<html>
<head>
	<title>View Ticket Page</title>
</head>
	<h1>View Ticket Page</h1>
<body>

    <P><span style="font-weight:bold;">Ticket ID:</span> {{ CallID }}</P> 
    
    <P><span style="font-weight:bold;">Posted on</span> {{ RecvdDate }} 
       <span style="font-weight:bold;">Category:</span> {{ Category }} 
       <span style="font-weight:bold;">Status:</span> {{ CallStatus }}
       <a class="button" href="{% url 'manage' %}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
       <a class="button" href="edit.asp"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a> 
       <a class="button" href="resolve.asp"><i class="fa fa-check" aria-hidden="true"></i> Resolved</a></P>
     
	<P><span style="font-weight:bold;">Posted by</span> {{ CustID }}</P>

    {% if Category == "Hardware" %}
        <p> <span style="font-weight:bold;">What kind of device is having the problem? </span> 
        <br>{{ EquipType }} </p>
        <p> <span style="font-weight:bold;">What is the device's asset ID? </span> 
        <br>{{ AssetTag }} </p>
        <p> <span style="font-weight:bold;">What is the device's name? </span> 
        <br>{{ DeviceName }} </p>
        <p> <span style="font-weight:bold;">What (if any) error message(s) is the device diplaying? </span> 
        <br>{{ ErrorMsg }} </p>
    {% endif %}
    
    {% if Category == "Software" %}
        <p> <span style="font-weight:bold;">Which system?: </span> 
        <br>{{ System }} </p>
        <p> <span style="font-weight:bold;">Is the system completely offline/broken?: </span>
        <br>{{ Offline }} </p>     
    {% endif %}
    
    {% if Category == "Service" %}
        <p>Category details currently not implemented!</p>
    {% endif %}
    
    {% if Category == "Password" %}
        <p>Category details currently not implemented!</p>
    {% endif %}
    
    {% if Category == "General" %}
        <p>Category details currently not implemented!</p>
    {% endif %}

    <P> <span style="font-weight:bold;">What are the specific details of the problem? </span> 
    <br>{{ Description }} </p>
</body>
</html>

{% endblock %}
