body {
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	color: #000000;
	margin: 0;
	padding: 0;
}

h1{
    color: #347D00;
}

h3{
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0;
}

h5{
    color: #5D5D5D;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

header{
	background-color: #fff;
	width: 100%;
	height: 105px;
	box-shadow: 0px 3px 10px #ccc;
}

header img{
	margin-left: 20px;
}

nav{
    position: absolute;
    bottom: 0%;
}

li{
	list-style-type: none;
	display: inline;
	padding: 10px 15px;
    margin: 0 5px;
}

#home{
    color: #009DDC;
    transition: color 0.4s ease-in-out;
}

#home:hover{
    color: #0088BF;
}

.cat{
    padding: 10px;
    border: 2px solid #ccc;
    position: relative;
    margin-bottom: 50px;
    transition: background-color 0.3s;
}

.cat:hover{
    background-color: #E60E64;
    color: white;
}

.cat button{
    padding: 20px 0;
    width: 220px;
    bottom:0;
}

.cat h2 {
    color: #E60E64;
}

.cat:hover h2 {
    color: #fff;
}

.add{
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    position: absolute;
    bottom: 10%;
    left: 42%;
}

.add span{
    padding: 1px 16px;
    border: 2px solid;
    border-radius: 100%;
}

.clearfix{zoom:1;}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
}

#add{
    transition: background-color 0.3s;
}

#add:hover{
    color: #fff;
    background-color: #006A2C;
}

#manage{
    transition: background-color 0.3s;
}

#manage:hover{
    color: #fff;
    background-color: #182A76;
}

.row{
    width: 90%;
    margin: 0 auto;
}

#logout{
    padding: 10px 25px 10px 22px;
    float: right;
    background-color: #E60E64;
    color: white;
    font-weight: bold;
    transition: background-color 1s;
}

#logout:hover{
    background-color: #F92479;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.required {
    font-weight: bold;
    color: #e32;
    display: inline;
}

table, th, td {
    padding:0;
    border-collapse: collapse;
}

.sortable th, .sortable td {
    text-align: center;
    border: 2px solid #ccc;
    padding: 10px !important;
}

.sortable tr:hover {
    background-color: #f5f5f5
}

th {
    padding: 15px !important;
    background-color: #4E4E4E;
    color: white;
}

table{
    width: 100%;
    min-width:700px;
    margin-bottom: 50px;
}

.button, button, #id_file_upload{
    background-color: #4E4E4E;
    border-radius: 5px;
    color: #fff;
    margin-right: 3px;
    transition: background-color 0.4s;
}

.button, button{
    padding: 5px 7px;
}

.button:hover, button:hover, #id_file_upload:hover{
    background-color: #6D6D6D;
}

form button{
    color: #fff;
}

button{
    padding: 13px 50px;
}

button:hover{
    padding: 13px 50px;
}

.modalButton {
    width: 50px;
    text-align:center;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

select{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

input[type="text"],
input[type="url"],
input[type="password"],
button,
submit{ border:none; }

input[type="radio"]{
    margin: 1px;
    width: 20px;
    height: 20px;
    line-height: normal;
}

input[type="text"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #C1C1C1;
    background-color: #ecf0f1;
    border-radius: 8px;
    padding-left: 8px;
}
 
input[type="text"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid rgba(81, 203, 238, 1);
}

select,
input[type="text"],
input[type="url"],
input[type="password"]{
    width: 300px;
    height: 35px;
    font-size: 16px;
}

textarea{
    font-size: 16px;
    width: 98%;
}

select:required{
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #C1C1C1;
}

select:required:focus{
    box-shadow: 0 0 5px #FF8C8C;
    border: 2px solid #FF8C8C;
}

input[type="text"]:required:focus,
input[type="url"]:required:focus,
input[type="password"]:required:focus,
textarea:required:focus {
    box-shadow: 0 0 5px #FF8C8C;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #FF8C8C;
}

button#submit {
    margin: 25px 0;
}

#main-nav{
    display: block;
}

ul#main-nav{
    padding:0;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.right{
    float: right;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}


/* visible sort symbol*/
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*From here to the end, the css for dropdown menu*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

.toggle,
[id^=drop] {
	display: none;
}
/* Giving a background-color to the nav container. */
nav {
    position: absolute;
    bottom: 0%;

	}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	padding:0px 6px;
	margin: 0px
	}

/* Positioning the navigation items inline */
nav ul li {
    display:inline-block;
    position: relative;
	margin: 0px;
	padding:10px 10px 20px;
	border-radius:10px 10px 0px 0px;
	bottom: -10px;
	vertical-align: middle;
	}

/* Styling the links */

nav ul li ul li:hover { color: #A4A4A4; }

/* Background color change on Hover */
nav a:hover {
//	background-color: #006A2C;
}

nav a {
    white-space:nowrap;
}
nav ul li.create:hover {
    background-color:#006A2C;
    color: #fff;
}

nav ul li.view:hover {
    background-color:#182A76;
    color: #fff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute;
	/* has to be the same number as the "line-height" of "nav a" */
	top: 49px;
	left: 0px;
	padding: 10px;
	margin: 0;
	color: #fff;
	border-radius:0px 0px 10px 10px;
}

nav ul li.create ul{
    background-color: #006A2C;
}

nav ul li.view ul {
    background-color: #182A76;
}


/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	//float:none;
	display:list-item;
	position: relative;
	bottom: 1px;
}

